<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Datos Generales</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="columna">
        <h1 class="proyec-title">Datos Generales</h1>
        <form method="post" class="proyec-form">
            <div class="form-group">
                <label for="nombre_proyecto">Nombre del proyecto:</label>
                <input type="text" name="nombre_proyecto" id="nombre_proyecto" value="{{ datos['nombre_proyecto'] }}">
                <label for="nombre_colegio">Nombre del colegio:</label>
                <input type="text" name="nombre_colegio" id="nombre_colegio" value="{{ datos['nombre_colegio'] }}">

                <label for="nivel">Nivel:</label>
                <select name="nivel" id="nivel">
                    <option value="Primaria" {% if datos['nivel'] == 'Primaria' %}selected{% endif %}>Primaria</option>
                    <option value="Secundaria" {% if datos['nivel'] == 'Secundaria' %}selected{% endif %}>Secundaria</option>
                </select>

                <label for="radio_influencia">Radio de influencia (KM, 1.5 Primaria, 3.0 Secundaria):</label>
                <input type="number" name="radio_influencia" id="radio_influencia" required step="any" value="{{ datos['radio_influencia'] }}">

                <label for="area_distrito">Área del distrito (KM²):</label>
                <input type="number" name="area_distrito" id="area_distrito" required step="any" value="{{ datos['area_distrito'] }}">

                <label for="nivel">Estudiantes por aula:</label>
                <input type="number" name="est_by_aula" id="est_by_aula" value="{{ datos['est_by_aula'] }}">

                <label for="nivel">Cantidad de turnos de funcionamiento del servicio:</label>
                <input type="number" name="turnos" id="turnos" value="{{ datos['turnos'] }}">

                <label for="anio_form">Año de formulación:</label>
                <input type="number" name="anio_form" id="anio_form" required value="{{ datos['anio_form'] }}">

                <label for="cantidad_anios_matricula">Años de matrícula disponibles (años atrás):</label>
                <input type="number" name="cantidad_anios_matricula" id="cantidad_anios_matricula" required value="{{ datos['cantidad_anios_matricula'] }}">

                <label for="anio_i">Inicio de funcionamiento (año):</label>
                <input type="number" name="anio_i" id="anio_i" required value="{{ datos['anio_i'] }}">

                <label for="anio_f">Fin de funcionamiento (año):</label>
                <input type="number" name="anio_f" id="anio_f" required value="{{ datos['anio_f'] }}">

                <label for="censo_1">Año del primer censo:</label>
                <input type="number" name="anio_censo1" id="censo_1" required value="{{ datos['anio_censo1'] }}">

                <label for="censo_2">Año del segundo censo:</label>
                <input type="number" name="anio_censo2" id="censo_2" required value="{{ datos['anio_censo2'] }}">
            </div>
            <div class="form-group" style="text-align: center;">
                <button type="submit" class="proyec-btn">Guardar</button>
            </div>                             
        </form>
        <div class="form-group" style="text-align: center;">
            <a href="{{ url_for('paso2') }}" class="proyec-btn" style="background:#aaa;">Siguiente paso</a>             
        </div>               
        {% if error %}
            <div class="proyec-error">{{ error }}</div>
        {% endif %}
    </div>
</body>
</html>
